.myStatsContainer {
  display: flex;
  height: 20rem;
}

.leftArea {
  flex: 3;
}
.centerArea {
  flex: 3;
  height: 100%;
}

.rightArea {
  flex: 3;
}

.calander {
  background-color:  #f8623d;
  color: white;
  text-decoration: none;
  border: none;
}

.infoContainer{
  background-color: rgba(144, 136, 136, 0.555);
  padding: 30px;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 10rem;
}
