.myStatsContainer {
  display: flex;
  height: 20rem;
}

.leftArea {
  flex: 3;
}
.centerArea {
  flex: 3;
  background-color: rgb(20, 97, 238);
}

.rightArea {
  background-color: rgb(18, 105, 3);
  flex: 3;
}

.calander {
  background-color:  #f8623d;
  color: white;
  text-decoration: none;
  border: none;
}
